@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme {
  --font-oswald: "Oswald";
  --font-bebas: "Bebas Neue";

  --color-primary: var(--color-sky-500);
  --color-primaryHover: var(--color-sky-700);
  --color-secondary: var(--color-zinc-900);

  --color-textPrimary: var(--color-zinc-800);
  --color-textSecondary: var(--color-zinc-600);
  --color-textLight: var(--color-zinc-50);

  --color-overlay: var(--color-zinc-950);

  --color-borderGray: var(--color-slate-500);

  --spacing-wrapper: 1400px;
  --spacing-headerPadding: 100px;

  --animate-fallFromLeft: fallFromLeft 300ms ease-in-out forwards;

  @keyframes fallFromLeft {
    0% {
      transform: translate(-200px, 0px);
      opacity: 0;
    }

    100% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  --animate-fallFromRight: fallFromRight 300ms ease-in-out forwards;

  @keyframes fallFromRight {
    0% {
      transform: translate(200px, 0px);
      opacity: 0;
    }

    100% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  --animate-scaleUp: scaleUp 500ms ease-in-out forwards;

  @keyframes scaleUp {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }

    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
}

h1 {
  @apply md:text-7xl text-4xl font-oswald uppercase;
}

h2 {
  @apply md:text-6xl text-3xl font-oswald uppercase;
}

h3 {
  @apply text-4xl font-oswald uppercase;
}

h5 {
  @apply text-lg font-oswald uppercase;
}

.buttonBasics {
  @apply bg-sky-500 rounded-sm  uppercase font-oswald hover:shadow-[5px_5px_0px_0px] shadow-white text-white  cursor-pointer ease-in-out transition-all;
}

.pagePadding {
  @apply md:px-10 px-5 pb-5;
}

.headerPadding {
  @apply md:px-10 px-5;
}
